html,
body {
  height: 100%;
  margin: 0;
}

body {
  --size: 15px;
  --color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color);
  background-color: #EAEAEA !important;
  
}
.row{
margin: 0 !important;
}

nav {
    padding: 1mm 2mm 1mm 3mm;
    margin-bottom: 5mm;
    background-color: #B2B2B2;
    
  }
  
  nav a li.nav-item {
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;
    font-family: "Acme", sans-serif;
  }
  nav a li.nav-item:hover {
    text-shadow: 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-ul2 li {
    padding-left: 0.2cm;
  }
  canvas{
    margin-left: 10cm;
   
  }