body {
    margin: 0;
    background-color: #EDEDED;
  }
/* **************Navbar**************** */
  nav {
    background-color: #2C3333;
    

    padding: 1mm 2mm 1mm 3mm ;
  }

  a li.nav-item {
    font-weight: bolder;
    font-size: 5mm;
    color: white;
  }

  .navbar-ul2 li {
    padding-left: .2cm;
  }
  /* ***********Footer**************************** */
  footer {
    background-color: #06283D;
    text-align: center;
    color: white;
  }

  footer div {
    padding: 3mm 0;
  }

  footer p {
    margin-bottom: 3mm;
  }
 /* --------------------------------------Home-page-------------------------------- */
  #scrooling_content {
    text-align: center;
    padding: 4cm 0;
  }
  #scrooling_content h1 {
    font-size: 5cm;
  }
  #home_games .col-md-4 {
    text-align: center;
  }
  #more-games {
    text-align: right;
    padding: 0 3mm 1cm 0;
  }
  #more-games a {
    text-decoration: none;
    color: black;
  }
  #more-games a h5:hover {
    text-shadow:-2px 0px red;
  }
 


  /* --------------------------------------Game-page-------------------------------- */

  #games{
    margin-top: 5mm;
}
#games a{
    text-decoration: none;
    color:black
  }
  #games a h4{
    text-align: center;
    padding: 3mm 0;
  }
 
  #games .col-md-4{
    margin: 1cm 0;
    text-align: center;
  }
  /* --------------------------------------TEAM-page-------------------------------- */


  #team .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 67%;
    margin: auto;
    padding: 4mm 0;
  }
 #team div.row {
    margin: 7mm 0;
  }
 #team .card:hover {
    box-shadow: 1px 1px 10px 6px  rgba(0, 0, 0, 0.2);
  }

 #team .container {
    padding: 2px 16px;
    text-align: center;
  }
 #team img {
    height: 7cm;
    width: 6cm;
    margin: auto;
  }
 #team a {
    text-decoration: none;
    color: black;
    font-size: 7mm;
  }
  #team h5{
    font-family: 'Carter One', cursive;


  }
  #team h1{
    font-family: 'Fredoka One', cursive;
    margin: 1cm 5mm;
  }
  #team h4{
    font-family: 'Acme', sans-serif;
    padding: 3mm 0 0 0;
  }